<!DOCTYPE html>
<head>
    <title>MNIST Training</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body>
    <h1>MNIST Hyperparameter Tuning </h1>
    <form id="trainingForm" style="align-items:center">
        <h3>Enter parameters for tuning:</h3>
        <label for="epochs">Epochs:</label>
        <input type="number" id="epochs" name="epochs" value="5" style="width: 180px;">
        <h5>Hold Shift/Control to choose multiple values</h5>
        <label for="learning_rate">Learning Rate:</label>
        <select id="learning_rate" name="learning_rate" style="width: 180px; background-color: lightblue" multiple>
            <option value=0.001>0.001</option>
            <option value=0.003>0.003</option>
            <option value=0.01>0.01</option>
            <!-- Add more options as needed -->
        </select>
        <button onclick="addNewRate('learning_rate')" style="font-size: 12px; background-color: rgb(143, 134, 12); width: 60px;">Add</button>
        <br>
        <label for="dropout_rate">Dropout Rate:</label>
        <select id="dropout_rate" name="dropout_rate" style="width: 180px; background-color: lightblue" multiple>
            <option value=0.1>0.1</option>
            <option value=0.2>0.2</option>
            <option value=0.3>0.3</option>
            <!-- Add more options as needed -->
        </select>
        <button onclick="addNewRate('dropout_rate')" style="font-size: 12px; background-color: rgb(143, 134, 12); width: 60px;">Add</button>

        <script src="script.js"></script>
        <br>
        <button type="submit">Add task to queue</button>
    </form>
    <div style="width: 50%; height: 30%; align-items:center;">
        <button onclick="refreshQueueTable()">Refresh Queue Table</button>
        <table id="queueTable" style="margin-top: 10px; border-collapse: collapse; border: 1px solid #ddd;">
            <tr>
                <h3>Training queue:</h3>
                <th style="border: 1px solid #ddd; width: 20%;">Epochs        </th>
                <th style="border: 1px solid #ddd; width: 20%;">Learning Rate </th>
                <th style="border: 1px solid #ddd; width: 20%;">Dropout Rate  </th>
            </tr>
        </table>
    </div>
    <p id="status", style="align-items: center;">Training status: Not started</p>

    <form id="start_training", style="align-items: center;">
        <button type="submit">Start training</button>
    </form>
    
    <div style="width: 50%; height: 30%; align-items: center;">
        <button onclick="plotAccuracyChart()">Refresh Graph</button>
        
            <canvas id="accuracyChart"></canvas>
        
    </div>
    <div style="width: 50%; height: 30%; align-items: center;">
        <button onclick="refreshModelTable()">Refresh Table</button>
        <table id="modelTable" style="margin-top: 10px; border-collapse: collapse; border: 1px solid #ddd;">
            <h3>Training results:</h3>
            <tr>
                <th style="border: 1px solid #ddd; width: 20%;">Epochs        </th>
                <th style="border: 1px solid #ddd; width: 20%;">Learning Rate </th>
                <th style="border: 1px solid #ddd; width: 20%;">Dropout Rate  </th>
                <th style="border: 1px solid #ddd; width: 20%;">Training Time </th>
                <th style="border: 1px solid #ddd; width: 20%;">Accuracy      </th>
            </tr>
        </table>
    </div>

    <script>
        // var message = "{{ message }}";
        //     alert(message);
        document.getElementById('start_training').onsubmit = function(event) {
            event.preventDefault();
            fetch('/start_training', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            .then(response => response.json())
            .then(data => console.log(data));
            updateStatus();
            refreshQueueTable();
        }
        document.getElementById('trainingForm').onsubmit = function(event) {
            event.preventDefault();
            var epochs = document.getElementById('epochs').value;

            // Get all selected learning rate options and map to their values
            var learningRates = Array.from(document.getElementById('learning_rate').selectedOptions).map(option => option.value);

            // Get all selected dropout rate options and map to their values
            var dropoutRates = Array.from(document.getElementById('dropout_rate').selectedOptions).map(option => option.value);

            // Convert arrays to comma-separated strings for the request body
            var learningRatesString = learningRates.join(',');
            var dropoutRatesString = dropoutRates.join(',');

            fetch('/add_to_queue', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `epochs=${epochs}&learning_rate=${learningRatesString}&dropout_rate=${dropoutRatesString}`
            })
            .then(response => response.json())
            .then(data => console.log(data));
            updateStatus();
            refreshQueueTable();
        };

        function updateStatus() {
            fetch('/status')
            .then(response => response.json())
            .then(data => {
                document.getElementById('status').innerText = 'Training status: ' + data.status;
            });
        }

        // document.addEventListener('DOMContentLoaded', function () {
        let accuracyChart; // Store the chart in a variable
        function plotAccuracyChart() {
            if (accuracyChart) {
                accuracyChart.destroy();
            }
            fetch('/accuracy')
                .then(response => response.json())
                .then(data => {
                    ctx = document.getElementById('accuracyChart').getContext('2d');
                    accuracyChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.map((_, index) => `${index + 1}`),
                            datasets: [{
                                label: 'Validation Accuracy',
                                data: data,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0.1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Accuracy (%)'
                                    }
                                },
                                x: {
                                    title: {
                                        display: true,
                                        text: 'Epoch'
                                    }
                                }
                            }
                        }
                    });
                });
        }
        function refreshQueueTable() {
            fetch('/get_queue_data')
                .then(response => response.json())
                .then(data => {
                const table = document.getElementById('queueTable');
                // Clear existing table rows, except for the header
                while (table.rows.length > 1) {
                    table.deleteRow(1);
                }
                // Add new rows for each model entry
                data.forEach(model => {
                    const row = table.insertRow(-1);
                    row.insertCell(0).innerText = model.epochs;
                    row.insertCell(1).innerText = model.learning_rate;
                    row.insertCell(2).innerText = model.dropout_rate;
                });
                })
                .catch(error => console.error('Error fetching model data:', error));
            }
        function refreshModelTable() {
            fetch('/get_model_data')
                .then(response => response.json())
                .then(data => {
                const table = document.getElementById('modelTable');
                // Clear existing table rows, except for the header
                while (table.rows.length > 1) {
                    table.deleteRow(1);
                }
                // Add new rows for each model entry
                data.forEach(model => {
                    const row = table.insertRow(-1);
                    row.insertCell(0).innerText = model.epochs;
                    row.insertCell(1).innerText = model.learning_rate;
                    row.insertCell(2).innerText = model.dropout_rate;
                    row.insertCell(3).innerText = model.training_time;
                    row.insertCell(4).innerText = model.accuracy;
                });
                })
                .catch(error => console.error('Error fetching model data:', error));
            }


            function addNewRate(rate) {
                var addedValue= prompt("Enter a new " + rate+ ":");
                if (addedValue == null || addedValue == "") {
                    return;
                }   
                var select = document.getElementById(rate);
                var option = document.createElement("option");
                option.value = addedValue;
                option.text = addedValue;
                select.appendChild(option);
            }
        setInterval(plotAccuracyChart, 20000);  // Update chart every 20 seconds
        // });

        setInterval(updateStatus, 5000);  // Update status every 5 seconds
        
        
    </script>
</body>
</html>
